<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VirtualTrainr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>66060EEB1E767D7B0035783F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66060F011E767D7B0035783F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66060F0C1E767D7C0035783F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
